/* // Created on 9/01/23 by ArchILLtect for The Odin Project */

:root {
    --content-width: 500px;
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 2.0;
    margin-bottom: 100px;
}

h1 {
    line-height: 1.2;
  }

.header {
    padding: 30px 0;
}

.title {
    margin-top: 0.5em;
    text-align: center;
    font-size: 70px;
}

main {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 100px;
    max-width: 1100px;
    /* margin: 0 auto; */
}

.gridConfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}

.gridSliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

.gridContainer {
    display: grid;
    width: var(--content-width);
    height: var(--content-width);
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridNode, .noUse {
    user-select: none;
}

.footer {
    position: absolute;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

.copyrightFooter {
    display: flex;
    gap: 10px;
}

.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* Buttons & Button Wrapper */

button,
input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}


button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
}

button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
}

/* 
button {
    font-family: Audiowide, cursive;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    color: red;
    line-height: 27px;
    background-color: black;
    border: 1px solid red;
}

button:focus, input:focus {
    outline: none ;
    box-shadow: 0 1px 10px 0 rgba(240, 240, 240, 1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: calc(75vw + 40px);
    max-width: calc(var(--content-width) + 40px);
    margin: 0 auto;
    flex-wrap: wrap;
}

.buttons > * {
    flex: 1 1 auto;
}

#input-color {
    border: none;
    height: 25px;
    width: 25px;
    padding: 0;
}

input[type="color" i] {
    background-color: black;
}
 */


.gridOn {
    border: 1px solid lightgray;
}

/* Pixel Size Slider */
.size-container {
    width: 55vw;
    padding-left: 10px;
    margin-right: 5px;
}

 .slider {
    width: 100%;
    height: 15px;
    background: red;
    outline: none;
    transition: 0.2s;
    border-radius: 7px;
}
/*
.sizeDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: black;
}
 */
@media only screen and (min-width: 1500px) {
    :root {
        --content-width: 600px;
    }
}

@media (max-width: 1200px) {
    :root {
        --content-width: 500px;
    }

    .main {
        justify-content: center;
        gap: 50px;
    }

    .gridContainer {
        width: 400px;
        height: 400px;
    }

    .gridConfig {
        width: 150px;
    }
}

@media (max-width: 850px) {
    .title {
        font-size: 50px;
    }

    .main {
        flex-direction: column;
    }

    .gridContainer {
        width: 300px;
        height: 300px;
    }

    .footer {
        display: flex;
        text-align: center;
        position: relative;
        margin-top: 130px;
    }
}